:root {
  --title-font-family: "houschka-pro", sans-serif;
  --default-font-family: "poppins", sans-serif;
  --secondary-color: #f7ef00;
  --branding-color: #ff10f0;
}

/*  trying to figure out how to display acorn font on various other devices
@font-face {
  font-family: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #030303;

  src: url(src/fonts/acorn.woff);
}*/

body {
  font-family: var(--default-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  margin: 30px 100px;
  border-radius: 10px;
}

h1 {
  font-family: var(--title-font-family);
  font-size: 96px;
  margin-top: 30px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
  font-weight: normal;
  color: #030303;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero p {
  font-weight: 200;
  font-size: 28px;
  color: #272142;
  padding-top: 30px;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 200;
  line-height: 2;
  font-size: 28px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
  text-align: center;
}

.content p {
  font-size: 14px;
}

.img-fluid {
  padding-top: 50px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-desciption {
  padding: 120px 60px;
}

.nav__logo {
  font-family: var(--title-font-family);
  font-size: 18px;
  margin-top: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: #ffffff;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
